**Mathematical operators In python**

In [ ]:
a = 8
b = 2

print('a + b =',a+b) #addition

print('a - b =',a-b) #substraction

print('a * b =',a*b) #multiplication

print('a / b =',a/b) #division

print('a // b =',a//b) #Floor division

print('a ** b =',a**b) #Exponentiation

a + b = 10
a - b = 6
a * b = 16
a / b = 4.0
a // b = 4
a ** b = 64

**Comparison Operators**

In [ ]:
a = 15
b = 10

print('a > b is',a>b) #Greater than

print('a < b is',a<b) #Less than

print('a == b is',a==b) #Equal

print('a != b is',a!=b) #Not equal

print('a >= b is',a>=b) #Greater than or equal to

print('a <= b is',a<=b) #Less than or equal to

a > b is True
a < b is False
a == b is False
a != b is True
a >= b is True
a <= b is False


**Logical Operators**

In [ ]:
x = 5

print('x is ',x > 10 and x < 10)    #and operator

print('x is',x > 10 or x < 10)    #or operator

print('not x is',not (x > 10 and x < 10))   #not operator

x is  False
x is True
not x is True

**shift operator**

In [1]:
# Python program to show shift operators

x = 5
y = -5

# print bitwise right shift operator
print("x >> 1 =", x >> 1)
print("y >> 1 =", y >> 1)

x = 5
y = -10

# print bitwise left shift operator
print("x << 1 =", x << 1)
print("y << 1 =", y << 1)

x >> 1 = 2
y >> 1 = -3
x << 1 = 10
y << 1 = -20

**Identity operators in Python**

In [12]:
p1 = 10
q1 = 10
p2 = 'Celebal'
q2 = 'Celebal'
p3 = [4,5,6]
q3 = [4,5,6]

print(p1 is not q1)

print(p2 is q2)

print(p3 is not q3)

False
True
True

**Membership operators**

In [15]:
x = 'Good Morning'
y = {1:'a',2:'b'}

print('M' in x)

print('Good' not in x)

print(1 in y)

print('a' in y)

True
False
True
False

**for loop**

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

**range**

In [18]:
print(range(15))

print(list(range(5)))

print(list(range(1, 7)))

print(list(range(2, 10, 3)))

range(0, 15)
[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[2, 5, 8]

**while loop**

In [19]:
# Python program to illustrate while loop
count = 0
while (count < 2):
    count = count + 1
    print("Hello Everyone")

Hello Everyone
Hello Everyone